/RestauranteITSON_Dominio/target/
/RestauranteITSON_Presentacion/target/
/RestauranteITSON_Persistencia/target/
/RestauranteITSON_Persistencia/nbproject/
/RestauranteITSON_Dominio/src/main/resources/META-INF/persistence.xml
/RestauranteITSON_Negocio/target/
